 <!-- footer -->
 <footer>
    <div class="row">

      <!-- first column -->
      <div class="col-lg-4">
        <h5>SUPPORT</h5>

        <div class="row">
          <div class="col">
            <p>contact us</p>
            <p>promotions & sale</p>
            <p>track order</p>
            <p>terms & conditions</p>
          </div>
          <div class="col">
            <p>my account</p>
            <p>return policy</p>
            <p>cookie setting</p>
          </div>
        </div>
        
      </div>
    
      <!-- second column -->
      <div class="col-lg-4">
        <h5>ABOUT</h5>

        <div class="row">
          <div class="col">
            <p>company</p>
            <p>press center</p>
            <p>store finder</p>
          </div>

          <div class="col">
            <p>corporate news</p>
            <p>investers</p>
            
          </div>
        </div>
        
      </div>
    

    
      <div class="col-lg-4">
        <p>email :</p>
        <input type="email">
      </div>
    </div>

    <hr class="line">

    <div class="last-section">
      <div class="row">
        <div class="col-lg-6 social-media">
          <a href="https://www.facebook.com/PUMA/"><i class="fa-brands fa-facebook logo"></i></a>
          <a href="https://twitter.com/PUMAGolf?t=jlwTD4W5HJ4lV-vjON5tRg&s=08 "><i class="fa-brands fa-twitter logo"></i></a>
          <a href="https://instagram.com/pumaindia?igshid=MzRlODBiNWFlZA=="><i class="fa-brands fa-instagram logo"></i></a>
          <a href="https://www.youtube.com/puma"><i class="fa-brands fa-youtube logo"></i></a>
          <a href="mailto:anupwaskel1437@gmail.com"><i class="fa-solid fa-envelope logo"></i></a>
      </div>

       <div class="col-lg-6 copy-right">
        <p>@copyright 2023 puma clone</p>
        <p>made by anup waskel</p>
       </div>
      </div>

      
    

    </div>
  </footer>
  



</body>
</html>