<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PUMA</title>
        <!-- bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- css -->
        <link rel="stylesheet" href="CSS/styles.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

        <!-- fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

        <!-- favicon -->
        <link rel="icon" href="images/puma.png">

    </head>
    <body>

        <!-- navbar -->
        <section id = navbar>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="/" style="color:#fff"> <img src="images/puma.png" width="50px" height="50px" alt="logo-img"> Puma</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">New & Tranding</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  href="shopmen" role="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                      Women
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item"  href="shopwomen">Training & Gym Shoes</a></li>
                      <li><a class="dropdown-item" href="shopwomen">Running shoes</a></li>
                      <li><a class="dropdown-item" href="shopwomen">walking shoes</a></li>
                      <li><a class="dropdown-item" href="shopwomen">Sneakers</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  href="shopmen" role="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                      Men
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item"  href="shopmen">Training & Gym Shoes</a></li>
                      <li><a class="dropdown-item" href="shopmen">Running shoes</a></li>
                      <li><a class="dropdown-item" href="shopmen">walking shoes</a></li>
                      <li><a class="dropdown-item" href="shopmen">Sneakers</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  href="shopmen" role="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                      Kid & Teens
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item"  href="shopkid">Training & Gym Shoes</a></li>
                      <li><a class="dropdown-item" href="shopkid">Running shoes</a></li>
                      <li><a class="dropdown-item" href="shopkid">walking shoes</a></li>
                      <li><a class="dropdown-item" href="shopkid">Sneakers</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Motorsport</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Collaborations</a>
                  </li><li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Sport</a>
                  </li><li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Outlet</a>
                  </li>
                </ul>
                
                <form class="d-flex ml-auto" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
                <i class="fa-regular fa-heart login"></i>
                <a href="cart" style="color:#fff"><i class="fa-solid fa-cart-shopping  login" ></i></a>
                <a href="signup"  style="color:#fff" ><i  class="fa-regular fa-user login"></i></a>
                
              </div>
            </div>
         </nav>
        </section>


          
