<%- include("partials/header") -%>

<div id="cart" class="cart-section">
    <div class="cart-logo">
        <i class="fa-solid fa-cart-shopping"></i>
    </div>
     <div class="cart">
        <h2 style="color: black;">Your Shopping Cart is Empty</h2>
        <p style="color: rgb(170, 170, 170);"> Please <strong><a style="color:black" href="signup">Signin</a> </strong> to View Your Saved Cart</p>
     </div>
</div>
    


<%- include("partials/footer") -%>

