

<%- include("partials/header") -%>


            <!-- menshoes 1st section -->
            <div class="sale">
                <h4>FLAT 50% OFF ON LATEST STYLES</h4>
                <h5>END OF SEASON SALE</h5>
            </div>

            <div class="men-collection">
                <h3>END OF SEASON SALE - KID'S COLLECTION</h3>
            </div>
  
            <div id="1st-section" class="container-fluid">
              <div class="menshoes-img">
                <div class="row">
                    <div class="col-lg-3">
                        <img class="men-shoe-img" src="images/menshoe1.png" alt="shoe-img">
                        <div class="row">
                          <div class="col"><p>Puma Foam Stride Men's Running shoes</p></div>
                          <div class="col price">$4,199</div>
                        </div>
                        
                    </div>
                    <div class="col-lg-3">
                        <img class="men-shoe-img" src="images/menshoe2.png" alt="shoe-img">
                        <div class="row">
                          <div class="col"><p>Puma Foam Stride Men's Running shoes</p></div>
                          <div class="col price">$4,199</div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <img class="men-shoe-img" src="images/menshoe3.png" alt="shoe-img">
                        
                        <div class="row">
                          <div class="col"><p>Puma Foam Stride Men's Running shoes</p></div>
                          <div class="col price">$4,199</div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <img class="men-shoe-img" src="images/menshoe4.png" alt="shoe-img">
                        
                        <div class="row">
                          <div class="col"><p>Puma Coarse Men's Running shoes</p></div>
                          <div class="col price">$4,199</div>
                        </div>
                    </div>

                </div>
            </div>
            </div>

            <hr class="horiline">


            <!-- menshoes 2nd section -->

          <div id="2nd-section" class="container-fluid">
            <div class="menshoes-img">
              <div class="row">
                  <div class="col-lg-3">
                      <img class="men-shoe-img" src="images/menshoe5.png" alt="shoe-img">
                      <div class="row">
                        <div class="col"><p>Puma Foam Stride Men's Running shoes</p></div>
                        <div class="col price">$4,199</div>
                      </div>
                      
                  </div>
                  <div class="col-lg-3">
                      <img class="men-shoe-img" src="images/menshoe6.png" alt="shoe-img">
                      <div class="row">
                        <div class="col"><p>Puma Foam Stride Men's Running shoes</p></div>
                        <div class="col price">$4,199</div>
                      </div>
                  </div>

                  <div class="col-lg-3">
                      <img class="men-shoe-img" src="images/menshoe7.png" alt="shoe-img">
                      
                      <div class="row">
                        <div class="col"><p>Puma Foam Stride Men's Running shoes</p></div>
                        <div class="col price">$4,199</div>
                      </div>
                  </div>

                  <div class="col-lg-3">
                      <img class="men-shoe-img" src="images/menshoe8.png" alt="shoe-img">
                      
                      <div class="row">
                        <div class="col"><p>Puma Coarse Men's Running shoes</p></div>
                        <div class="col price">$4,199</div>
                      </div>
                  </div>

              </div>
          </div>
          </div>
            
          <hr class="horiline">

          <!-- menshoe 3rd section -->
          <div id="3rd-section" class="container-fluid">
            <div class="menshoes-img">
              <div class="row">
                  <div class="col-lg-3">
                      <img class="men-shoe-img" src="images/menshoe9.png" alt="shoe-img">
                      <div class="row">
                        <div class="col"><p>Puma Foam Stride Men's Running shoes</p></div>
                        <div class="col price">$4,199</div>
                      </div>
                      
                  </div>
                  <div class="col-lg-3">
                      <img class="men-shoe-img" src="images/menshoe10.png" alt="shoe-img">
                      <div class="row">
                        <div class="col"><p>Puma Foam Stride Men's Running shoes</p></div>
                        <div class="col price">$4,199</div>
                      </div>
                  </div>

                  <div class="col-lg-3">
                      <img class="men-shoe-img" src="images/menshoe11.png" alt="shoe-img">
                      
                      <div class="row">
                        <div class="col"><p>Puma Foam Stride Men's Running shoes</p></div>
                        <div class="col price">$4,199</div>
                      </div>
                  </div>

                  <div class="col-lg-3">
                      <img class="men-shoe-img" src="images/menshoe12.png" alt="shoe-img">
                      
                      <div class="row">
                        <div class="col"><p>Puma Coarse Men's Running shoes</p></div>
                        <div class="col price">$4,199</div>
                      </div>
                  </div>

              </div>
          </div>
          </div>

          <hr class="horiline">

          <!-- menshoe 4th section -->
          <div id="2nd-section" class="container-fluid">
            <div class="menshoes-img">
              <div class="row">
                  <div class="col-lg-3">
                      <img class="men-shoe-img" src="images/menshoe13.png" alt="shoe-img">
                      <div class="row">
                        <div class="col"><p>Puma Foam Stride Men's Running shoes</p></div>
                        <div class="col price">$4,199</div>
                      </div>
                      
                  </div>
                  <div class="col-lg-3">
                      <img class="men-shoe-img" src="images/menshoe14.png" alt="shoe-img">
                      <div class="row">
                        <div class="col"><p>Puma Foam Stride Men's Running shoes</p></div>
                        <div class="col price">$4,199</div>
                      </div>
                  </div>

                  <div class="col-lg-3">
                      <img class="men-shoe-img" src="images/menshoe15.png" alt="shoe-img">
                      
                      <div class="row">
                        <div class="col"><p>Puma Foam Stride Men's Running shoes</p></div>
                        <div class="col price">$4,199</div>
                      </div>
                  </div>

                  <div class="col-lg-3">
                      <img class="men-shoe-img" src="images/menshoe16.png" alt="shoe-img">
                      
                      <div class="row">
                        <div class="col"><p>Puma Coarse Men's Running shoes</p></div>
                        <div class="col price">$4,199</div>
                      </div>
                  </div>

              </div>
          </div>
          </div>

          <hr class="horiline">


           
          <%- include("partials/footer") -%>